h1{
    font-family: fantasy;
    text-align: center;
    background-color:darkslategrey;
    color: crimson;
  }
body{
    background-image: url(../images/ダウンロード.jfif); 
}
h3{
   text-align: center;
    background-color:darkslategrey;
    color: crimson; 
}
table{
     background-color:yellow;
    color: crimson;
}
ol{
   background-image: url(../images/fxqRNx8oU_.jpg);  
}