.title{
    font-family: fantasy;
    text-align: center;
    background-color:darkslategrey;
    color: crimson;
  }
body{
    background-image: url(../images/mori.jpg); 
}
p{
    color:darkorange;
}
.stag{
    text-align: center;
    background-color:chocolate;
    color:darkslateblue;
}
.game{
    text-align: center;
    background-color:plum;
    color:white;
   
}
.link{
    background-color:yellow;
    color:magenta;
}